<section style="margin:30px;margin-right:100px;">
    <form action="/admin/edit-products/{{product._id}}" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">name</label>
            <input value='{{product.name}}' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">category</label>
            <input value='{{product.category}}' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="category">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">discription</label>
            <input value='{{product.discription}}' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="discription">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">price</label>
            <input value='{{product.price}}' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="price">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">image</label><br>
            <img src="/product-images/{{product._id}}.jpg" id="imgView"style="min-width:80px;min-height:80px;max-width:80px;max-height:80px;">
            <input value='/product-images/{{product._id}}' onchange="viewImage(event)" class="form-control" type="file" name="image">
        </div>
        <button type="submit" class="btn btn-primary">save</button>
 </form>
</section>
<script>
    function viewImage(event){
        console.log(event)
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>